[Unit]
Description=Doge Meme Generator Service

[Service]
ExecStart=/usr/local/bin/DogeGen/dogegenservice start
ExecStop=/usr/local/bin/DogeGen/dogegenservice stop

[Install]
WantedBy=multi-user.target
